<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>genie-router</title>

  <link rel="stylesheet" href="{{prefix}}/web-client/assets/unnamed.min.css">
  <link rel="stylesheet" href="{{prefix}}/web-client/assets/main.css">
</head>

<body>
  <!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container header" id="top">
    <div class="brand">
      <h2><a href="https://www.matuera.net/genie-router" class="logo"><img src="{{prefix}}/web-client/assets/logo.svg" width="52" height="26" /></a> genie-router</h2>
    </div>
  </div>

  <div class="container">
    <div class="chat">
      <!-- Msg templates -->
      <div class="js-user-msg-template hidden">
        <div class="user msg triangle-isosceles">{{text}}</div>
      </div>
      <div class="js-router-msg-template hidden">
        <div class="router msg triangle-isosceles">{{text}}</div>
      </div>
      <!-- END -->
    </div>
    <form id="send-chat">
      <div class="input-field">
       <span class="edit-icon"></span>
       <input type="text" class="chat-input" placeholder="Type your input to send and press enter." />
      </div>
    </form>    
    <div class="uses">Uses the <a href="http://smakosh.com/unnamed/index.html" target="_blank">unnamed CSS framework</a>. Textballoon via <a href="http://nicolasgallagher.com/pure-css-speech-bubbles/" target="_blank">here</a>.</div>
  </div>

  <script type="text/javascript" src="{{prefix}}/web-client/assets/jquery.min.js"></script>
  <script type="text/javascript" src="{{prefix}}/web-client/assets/main.js"></script>
  <script>
    $(document).ready(function() {
      startChat('{{prefix}}{{endpoint}}', '{{accessToken}}')
    })
  </script>
</body>
</html>
