a {
  color: #21D4FD;
}
a:visited {
  color: #B721FF;
}
.brand {
  position: absolute;
  top: 4px;
}
.brand img {
  float: left;
  margin-right: 5px;
}

.chat {
  margin-top: 5px;
  border: 1px solid #000000;
  padding-top: 5px;
  overflow: hidden;
  background-color: #eeeeee;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
}

.messages {
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 50px;
}

.chat .msg {
  margin-left: 3px;
  clear: both;
  min-width: 100px;
}

.chat .user {
  max-width: 75%;
  background-color: #0986ed;
  float: left;
}

.router.triangle-isosceles:after {
  border-color: #09ed7f transparent;
}

.chat .router {
  max-width: 70%;
  float: right;
  margin-right: 5px;
  background: #09ed7f;
}

.user.triangle-isosceles:after {
  border-color: #0986ed transparent;
}

.input {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.hidden {
  display: none
}

/* Bubble with an isoceles triangle
From: http://nicolasgallagher.com/pure-css-speech-bubbles/
------------------------------------------ */

.triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #b3b3b3 transparent;
}
